body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

.container {
    width: 450px;
    margin: 40px auto;
    background: rgb(185, 172, 172);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 6px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.add-btn { background: green; color: white; width:95%; }
.update-btn { background: orange; color: white; width:95%; }
.delete-btn { background: red; color: white; }
.edit-btn { background: blue; color: white; }

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f1f1f1;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}